@import "lib/bootstrap.less";

@baseSpacing: 20px;
@linkColor: lighten(@blue, 20);

@adelle: adelle, "Helvetica Neue", sans-serif;
@nimbus: "nimbus-sans", "Helvetica Neue", sans-serif;

.centerize {
  text-align: center;
}

.paper-container {
  #gradient > .vertical(lighten(@red, 30), lighten(@red, 20));
  .border-radius(2px);
  .box-shadow(0px 1px 4px rgba(0,0,0,.4));
  
  color: lighten(@red, 5);
  text-shadow: 1px 1px rgba(244, 200, 197, 0.50);
  
  a {
    color: #333;
  }
  h3 {
    font-size: 32px;
  }
}

body {
  #gradient > .vertical(lighten(@blue, 30), @blue);
  color: @white;
  font-size: 14px;
  background-image: url('/img/clouds.png');
  background-repeat: repeat-x;
  background-position-y: bottom;
  font-family: @adelle;
}

.container {
  //#gradient > .vertical(lighten(@blue, 30), @blue);
  #translucent > .background(@black, .30);
  padding: 0 20px;
}

p {
  font-family: @adelle;
  font-size: 16px;
}

h1, h2, h3 {
  color: white;
  font-family: @nimbus;
}

div {
  //border: 1px solid #000;
}

#cloud {
  margin: 0;
  padding: 2px;
  line-height: 3em;
  text-align: center;
  
  a {
    padding: 0px;
    
    &.tag1 { font-size: 0.7em; font-weight: 100; }
    &.tag2 { font-size: 0.8em; font-weight: 200; }
    &.tag3 { font-size: 0.9em; font-weight: 300; }
    &.tag4 { font-size: 1.0em; font-weight: 400; }
    &.tag5 { font-size: 1.2em; font-weight: 500; }
    &.tag6 { font-size: 1.4em; font-weight: 600; }
    &.tag7 { font-size: 1.6em; font-weight: 700; }
    &.tag8 { font-size: 1.8em; font-weight: 800; }
    &.tag9 { font-size: 2.2em; font-weight: 900; }
    &.tag10 { font-size: 2.5em; font-weight: 900; }
  }
  li {
    display: inline;
  }
}

.box {
  margin-bottom: @baseSpacing;
}

#gravatar {
  float: left;
  margin-right: 10px;
  background-image: url('/img/jbttn.jpg');
  width: 140px;
  height: 140px;
  &:hover {
    background-image: url('http://www.gravatar.com/avatar/8edb1495667a6a78ccac104520d2f3af.png?size=140');
  }
}

#social-networks li {
  display: inline;
}

#main-header {
  margin: -5px 0 10px;
  padding: @baseSpacing;
  //#translucent > .background(@white, .20);
  
  h1 {
    font-size: 56px;
    color: lighten(@red, 5);
    text-shadow: 1px 1px rgba(244, 200, 197, 0.50);
  }
  h2 {
    color: lighten(@red, 40);
    text-shadow: 0px 0px rgba(255, 255, 255, 0);
    font-weight: 200;
    font-style: italic;
  }
}

#main-content {
  margin-top: 40px;
  
  h3 {
    padding: 5px;
    margin: 0px 0px 10px 20px;
    //border: 1px solid #EEE;
    //background: @linkColor;
  }
}

#main-footer {
  padding: @baseSpacing;
}