@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';
@import 'bootstrap/reset.less';
@import 'bootstrap/buttons.less';

body {
  font-family: "Open Sans", "Helvetica Neue";
  background: #FFF;
  font-size: 14px;
  font-weight: 300;
  
  /*background-image: url(/img/blue_triangles.png);
  background-size: 400px;
  background-position: 10px 200px;
  background-repeat: no-repeat;*/
}

#logo {
  width: 75px;
}

@triangle_size: 350px;
#triangles {
  width: @triangle_size;
  height: @triangle_size;
  position: fixed;
  //top: 300px;
  //left: -50px;
  bottom: -50px;
  left: 0;
  z-index: -1;
  //margin-top: 100px;
  background-image: url(/img/triangles.png);
  background-size: @triangle_size;
  background-repeat: no-repeat;
  .opacity(50);
}

blockquote {
  
  a {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
  
  &:hover {
    color: #CCC;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.h-list {
  margin: 0;
  padding: 0;
  display: inline;
  
  li {
    margin-left: 0;
    display: inline;
  }
}

.toc {
  font-size: 24px;
  margin: 0;
  padding: 30px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  display: block;
  padding-left: 3px;
  
  a {
    color: #7269b1;
    text-shadow: 2px 2px 0px rgba(63, 169, 245, 1);
    &:hover {
      color: #7269b1;
      text-shadow: 1px 1px 0px rgba(63, 169, 245, 1);
    }
  }
}
.tagline {
  font-size: 24px;
  font-weight: 300;
  margin-left: 6px;
  //color: #888;
}

#gravatar {
  float: left;
  margin-right: 10px;
  background-image: url('/img/jbttn.jpg');
  width: 140px;
  height: 140px;
  .box-shadow(0px 1px 4px rgba(0,0,0,.4));
  &:hover {
    background-image: url('http://www.gravatar.com/avatar/8edb1495667a6a78ccac104520d2f3af.png?size=140');
  }
}

#container {
  margin: 20px auto;
  width: 960px;
}

#sidebar {
  
}

#main-header {
  .clearfix();
  
  margin-bottom: 20px;
  
  #main-nav {
    float: right;
    font-size: 24px;
    font-weight: 300;
    
    li {
      margin: 0 20px;
    }
  }
}
#main-body {
  .clearfix();
  
  position: relative;
  
  #sidebar {
    float: left;
    border-right: 1px solid #CCC;
    width: 200px;
    
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #content {
    float: right;
    width: 730px;
    //padding: 10px;
    
    /*
    background: #fff;
    border: 1px solid #AAA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);*/
  }
}
#main-footer {
  margin-top: 20px;
  text-align: center;
  color: #CCC;
}

// About

#about {
  .clearfix();
  
  #my-picture {
    float: right;
    height: 300px;
  }
}
#skills {
  
}
#events {
  
}