---
layout: default
title: Joshua Button
---

<div class="row">
  <div id="left" class="span6">
    <h3 class="centerize paper-container">Hello, my name is Joshua...</h3>
    <p>
      <div id="gravatar" src="http://www.gravatar.com/avatar/8edb1495667a6a78ccac104520d2f3af.png?size=160"></div>
      That's me, to the left, I am currently a senior at CSU Chico working on a <a href="http://en.wikipedia.org/wiki/Bachelor_of_Computer_Information_Systems">Bachelor of Computer Information Systems</a>.
      I'm a perfectionist to the core and take pride in my code.  I feel that programming is a form of art and code can be quite pleasing to look at, especially with languages such as <a href="http://www.ruby-lang.org/en/">Ruby</a>.
      I strive not only to write quality code, but also to build exceptional applications.  Look to the right to see what I've been working on.
    </p>
    <a id="resume-btn" class="btn btn-primary" href="/resume">VIEW MY RESUME</a>
    <h3 class="centerize paper-container">My Recent Tweets</h3>
    {% include _twitter.html %}
  </div>
  <div id="right" class="span6">
    
    <div class="row box">
      <h3 class="centerize paper-container">Experience</h3>
      <div class="span6">
        {% include _cloud.html %}
      </div>
    </div>
    <div class="box centerize">
      <h3 class="centerize paper-container">Projects</h3>
      <div class="row box">
        <div class="span3">
          <h4>Pinguin (Capstone Project)</h4>
          <a href="/img/pinguin.png"><img src="/img/pinguin.png"></a>
          My senior project at Chico State.  A digital pinboard which stores any type of media in a visual way.
        </div>
        <div class="span3">
          <h4>Noteorious</h4>
          <a href="/img/noteorious.png"><img src="/img/noteorious.png"></a>
          A markdown note application that spawned off from my senior project, currently in development
        </div>
      </div>
      <div class="row box">
        <div class="span3">
          <h4>Monster Battle - Web</h4>
          <a href="/img/monster-battle.jpg"><img src="/img/monster-battle.jpg"></a>
          A web based monster battle mini game.
        </div>
        <div class="span3">
          <h4>Monster Battle - iPhone</h4>
          <a href="/img/monster-battle-iphone.png"><img src="/img/monster-battle-iphone.png"></a>
          The iPhone client for the game to the left.
        </div>
      </div>
    </div>
    <div class="row box">
      <h3 class="centerize paper-container">Connect With Me</h3>
      <div class="span3">
        <ul id="social-networks" class="unstyled">
          <li><a href="http://github.com/jbttn"><img src="img/github.png" /></a></li>
          <li><a href="http://twitter.com/#!/jbttn"><img src="img/twitter-2.png" /></a></li>
          <li><a href="http://www.linkedin.com/in/joshuabutton"><img src="img/linkedin.png" /></a></li>
        </ul>
      </div>
      <div class="span3">
        jbttn AT joshuabutton.com
      </div>
    </div>
  </div>
</div>