---
layout: default
title: Joshua Button
---

<div class="row">
  <div class="span6">
    <h2 class="centerize">This is a work in progress</h2>
    <p>
      <div id="gravatar" src="http://www.gravatar.com/avatar/8edb1495667a6a78ccac104520d2f3af.png?size=160"></div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut posuere dolor. Cras id augue at diam euismod posuere nec commodo sapien. Nullam eu mi nisl. Maecenas lobortis sem in est pretium eget porta nulla faucibus. Suspendisse imperdiet eros nec nibh eleifend condimentum. Nulla ullamcorper, odio sit amet consequat aliquet, elit risus malesuada mauris, eu vulputate lorem augue in augue. Curabitur adipiscing, ligula nec consectetur feugiat, sem odio consequat massa, sed rutrum dui felis non ipsum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut posuere dolor. Cras id augue at diam euismod posuere nec commodo sapien. Nullam eu mi nisl. Maecenas lobortis sem in est pretium eget porta nulla faucibus. Suspendisse imperdiet eros nec nibh eleifend condimentum. Nulla ullamcorper, odio sit amet consequat aliquet, elit risus malesuada mauris, eu vulputate lorem augue in augue. Curabitur adipiscing, ligula nec consectetur feugiat, sem odio consequat massa, sed rutrum dui felis non ipsum.
    </p>
  </div>
  <div class="span6">
    
    <div class="row box">
      <h3 class="centerize paper-container">Experience</h3>
      <div class="span6">
        <a class="btn btn-primary" href="/resume" style="width: 95%; margin-bottom: 10px;">MY RESUME</a>
        {% include _cloud.html %}
      </div>
    </div>
    <div class="row box">
      <h3 class="centerize paper-container">Projects</h3>
      <div class="span3">
        <h6>465 / 598 Project</h6>
        Ka-pow
      </div>
      <div class="span3">
        <h6>Some other project</h6>
        Woo
      </div>
    </div>
    <div class="row box">
      <h3 class="centerize paper-container">Social Networks</h3>
      <div class="span3">
        <ul id="social-networks" class="unstyled">
          <li><a href="http://github.com/jbttn"><img src="img/github.png" /></a></li>
          <li><a href="http://twitter.com/#!/jbttn"><img src="img/twitter-2.png" /></a></li>
          <li><a href="http://www.linkedin.com/in/joshuabutton"><img src="img/linkedin.png" /></a></li>
        </ul>
      </div>
      <div class="span3">
        {% include _twitter.html %}
      </div>
    </div>
  </div>
</div>