<ul id="cloud">
  <li><a href="http://www.rubyonrails.org" class="tag10">Ruby on Rails</a></li>
  <li><a href="#" class="tag4">TextMate</a></li>
  <li><a href="http://www.nodejs.org" class="tag7">NodeJS</a></li>
  <li><a href="http://documentcloud.github.com/backbone/" class="tag3">Backbone.js</a></li>
  <li><a href="#" class="tag10">Objective-C</a></li>
  <li><a href="#" class="tag4">Photoshop</a></li>
  <li><a href="#" class="tag7">HTML5</a></li>
  <li><a href="#" class="tag5">CSS3</a></li>
  <li><a href="#" class="tag9">iOS</a></li>
  <li><a href="#" class="tag7">JavaScript</a></li>
  <li><a href="#" class="tag9">CoffeeScript</a></li>
  <li><a href="#" class="tag4">LUA</a></li>
</ul>