<ul>
  <li>
    <h2>Fall 2012</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 548 - Advanced Computer Security</td>
          <td>?</td>
        </tr>
        <tr>
          <td>CSCI 540 - Systems Programming</td>
          <td>?</td>
        </tr>
        <tr>
          <td>FINA 307 - Survey of Finance</td>
          <td>?</td>
        </tr>
        <tr>
          <td>MATH 109 - Survey of Calculus</td>
          <td>?</td>
        </tr>
        <tr>
          <td>MINS 301 - Corporate Tech Integration</td>
          <td>?</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Spring 2012</h2>
    <table>
      <tbody>
        <tr>
          <td>BLAW 302 - Managing the Legal Environment</td>
          <td>C</td>
        </tr>
        <tr>
          <td>CINS 448 - Computer Security</td>
          <td>B+</td>
        </tr>
        <tr>
          <td>CINS 490 - CINS Capstone</td>
          <td>A</td>
        </tr>
        <tr>
          <td>HIST 350 - America's Vietnam Experience</td>
          <td>C</td>
        </tr>
        <tr>
          <td>MKTG 305 - Survey of Marketing</td>
          <td>C+</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2011</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 465 - Web Programming Fundamentals</td>
          <td>A</td>
        </tr>
        <tr>
          <td>CINS 570 - Advances Database Mgmt Systems</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CSCI 301 - Computer's Impact on Society</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CSCI 346 - Intro to Computer Netwks/Mgmt</td>
          <td>C</td>
        </tr>
        <tr>
          <td>CSCI 598 - Mobile Device Programming</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Spring 2011</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 220 - PCs and Peripherals</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CINS 370 - Introduction to Databases</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CSCI 217 - Foundations of Computing</td>
          <td>A-</td>
        </tr>
        <tr>
          <td>CSCI 340 - Operating Systems</td>
          <td>A-</td>
        </tr>
        <tr>
          <td>MATH 302 - Science/Strategy in War/Peace</td>
          <td>C+</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2010</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 242 - Information Systems Design</td>
          <td>B+</td>
        </tr>
        <tr>
          <td>CSCI 311 - Algorithms and Data Structures</td>
          <td>B</td>
        </tr>
        <tr>
          <td>MGMT 303 - Survey of Management</td>
          <td>B-</td>
        </tr>
        <tr>
          <td>PHIL 342 - War Roots: Peace Prospects</td>
          <td>B-</td>
        </tr>
      </tbody>
    </table>
  </li>
  
  <li>
    <h2>Spring 2010</h2>
    <table>
      <tbody>
        <tr>
          <td>CISN 118 - Internet Protocol Subnetting</td>
          <td>A</td>
        </tr>
        <tr>
          <td>ACCT 301 - Financial Accounting</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CISC 310 - Intro to Computer Information Science</td>
          <td>A</td>
        </tr>
        <tr>
          <td>CISP 453 - Intro Systems Programming in UNIX</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2009</h2>
    <table>
      <tbody>
        <tr>
          <td>MUFHL 321 - Basic Musicianship</td>
          <td>A</td>
        </tr>
        <tr>
          <td>ASTR 300 - Intro to Astronomy</td>
          <td>A</td>
        </tr>
        <tr>
          <td>BIOL 310 - General Biology</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CISP 430 - Data Structures</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Summer 2009</h2>
    <table>
      <tbody>
        <tr>
          <td>HIST 330 - Women in American History</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Spring 2009</h2>
    <table>
      <tbody>
        <tr>
          <td>CISP 310 - Assembly Programming</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CISP 400 - Object Oriented Programming with C++</td>
          <td>A</td>
        </tr>
        <tr>
          <td>HUM 320 - Eastern Humanities</td>
          <td>B</td>
        </tr>
        <tr>
          <td>NUTRI 300 - Nutrition</td>
          <td>A</td>
        </tr>
        <tr>
          <td>PACT 390 - Tennis</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2008</h2>
    <table>
      <tbody>
        <tr>
          <td>CISP 360 - Intro Structured Programming</td>
          <td>A</td>
        </tr>
        <tr>
          <td>ECON 304 - Principles of Microeconomics</td>
          <td>A</td>
        </tr>
        <tr>
          <td>POLS 301 - Intro to Government: U.S.</td>
          <td>A</td>
        </tr>
        <tr>
          <td>STAT 301 - Intro to Probability and Statistics</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Spring 2008</h2>
    <table>
      <tbody>
        <tr>
          <td>CISP 300 - Algorithm Design / Problem Solving</td>
          <td>B</td>
        </tr>
        <tr>
          <td>ENGWR 302 - Adv Comp & Critical Thinking</td>
          <td>B</td>
        </tr>
        <tr>
          <td>SPEECH 301 - Public Speaking</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2007</h2>
    <table>
      <tbody>
        <tr>
          <td>CISC 323 - Linux Operating System</td>
          <td>A</td>
        </tr>
        <tr>
          <td>CISC 350 - Intro Data Communication</td>
          <td>A</td>
        </tr>
        <tr>
          <td>CISN 110 - Network Technology</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CISC 324 - Intermediate Linux Operating System</td>
          <td>A</td>
        </tr>
        <tr>
          <td>CISN 111 - Intermediate Network Technology</td>
          <td>B</td>
        </tr>
        <tr>
          <td>ART 320 - Design: Fundamentals</td>
          <td>B</td>
        </tr>
        <tr>
          <td>ENGWR 300 - College Composition</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>