<ul>
  <li>
    <h2>Fall 2012</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 548 - Advanced Computer Security</td>
          <td>?</td>
        </tr>
        <tr>
          <td>CSCI 540 - Systems Programming</td>
          <td>?</td>
        </tr>
        <tr>
          <td>FINA 307 - Survey of Finance</td>
          <td>?</td>
        </tr>
        <tr>
          <td>MATH 109 - Survey of Calculus</td>
          <td>?</td>
        </tr>
        <tr>
          <td>MINS 301 - Corporate Tech Integration</td>
          <td>?</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Spring 2012</h2>
    <table>
      <tbody>
        <tr>
          <td>BLAW 302 - Managing the Legal Environment</td>
          <td>C</td>
        </tr>
        <tr>
          <td>CINS 448 - Computer Security</td>
          <td>B+</td>
        </tr>
        <tr>
          <td>CINS 490 - CINS Capstone</td>
          <td>A</td>
        </tr>
        <tr>
          <td>HIST 350 - America's Vietnam Experience</td>
          <td>C</td>
        </tr>
        <tr>
          <td>MKTG 305 - Survey of Marketing</td>
          <td>C+</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2011</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 465 - Web Programming Fundamentals</td>
          <td>A</td>
        </tr>
        <tr>
          <td>CINS 570 - Advances Database Mgmt Systems</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CSCI 301 - Computer's Impact on Society</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CSCI 346 - Intro to Computer Netwks/Mgmt</td>
          <td>C</td>
        </tr>
        <tr>
          <td>CSCI 598 - Mobile Device Programming</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Spring 2011</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 220 - PCs and Peripherals</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CINS 370 - Introduction to Databases</td>
          <td>B</td>
        </tr>
        <tr>
          <td>CSCI 217 - Foundations of Computing</td>
          <td>A-</td>
        </tr>
        <tr>
          <td>CSCI 340 - Operating Systems</td>
          <td>A-</td>
        </tr>
        <tr>
          <td>MATH 302 - Science/Strategy in War/Peace</td>
          <td>C+</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h2>Fall 2010</h2>
    <table>
      <tbody>
        <tr>
          <td>CINS 242 - Information Systems Design</td>
          <td>B+</td>
        </tr>
        <tr>
          <td>CSCI 311 - Algorithms and Data Structures</td>
          <td>B</td>
        </tr>
        <tr>
          <td>MGMT 303 - Survey of Management</td>
          <td>B-</td>
        </tr>
        <tr>
          <td>PHIL 342 - War Roots: Peace Prospects</td>
          <td>B-</td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>