<div>
  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#4cbeef',
        color: '#ffffff'
      },
      tweets: {
        background: '#42aad6',
        color: '#ffffff',
        links: '#333333'
      }
    },
    features: {
      scrollbar: true,
      loop: false,
      live: true,
      behavior: 'all'
    }
  }).render().setUser('jbttn').start();
  </script>
</div>