<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Joshua Button">
<meta name="description" content="Joshua Button's website">
<title>{% if page.title %}{{ page.title }}{% endif %}</title>
<link rel="stylesheet" href="/assets/css/bulma.min.css">
<link href="/assets/css/application.css" type="text/css" rel="stylesheet" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script type="text/javascript" src="/assets/js/hamburger.js"></script>
<script type="text/javascript" src="//use.typekit.net/poh6wat.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>