<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    <div class="navbar-brand">
      <h4 class="navbar-item title is-4">
        <a href="/">Joshua Button</a>
      </h4>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="http://www.github.com/jbttn/"><i class="fab fa-2x fa-inverse fa-github"></i></a>
        <a class="navbar-item" href="http://www.twitter.com/jbttn/"><i class="fab fa-2x fa-inverse fa-twitter"></i></a>
        <a class="navbar-item" href="http://www.linkedin.com/in/joshuabutton"><i class="fab fa-2x fa-inverse fa-linkedin"></i></a>
        <a class="navbar-item" href="http://stackoverflow.com/users/3946288/joshua-button"><i class="fab fa-2x fa-inverse fa-stack-overflow"></i></a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/resume">Résumé</a>
      </div>
    </div>
  </div>
</nav>