@import 'bootstrap_override';
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import 'vars';
@import 'pygments';

html {
  position: relative;
  min-height: 100%;
}

body {
  font: 20px  "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;

  // For sticky footer
  margin-bottom: $footer-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heavy-font-family;
  color: $header-text-color;
  margin: 0;
}

blockquote {
  border: none;
  background-color: #F9F9F9;
  box-shadow: 1px 1px 1px #EEE;
  p {
    margin: 0 !important;
  }
}

cite {
  font-style: italic;
}

li {
  line-height: 160%;
}

code {
  vertical-align: 3px;
  font-size: 60%;
  font-family: $mono-font-family;
  color: $brand-primary;
  background-color: lighten($brand-primary, 40%);
}

strong {
  color: $header-text-color;
}

section {
  margin-bottom: 20px;
}

blockquote {
  &:before {
    font-family: "FontAwesome";
    content: "";
    padding-right: 10px;
    float: left;
    color: #999;
  }
}

a, b {
  transition: color 0.25s ease-in 0s;

  &:hover {
    text-decoration: none;
  }
}

.left-border {
  border-left: 5px solid $brand-primary;
  padding-left: 20px;
  margin-left: -20px;
}

.title {
  font-weight: 800;
  margin-bottom: 10px;
  @extend .left-border;
}

#main-header {
  font-family: $heavy-font-family;
  margin-top: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;

  a, b {
    text-decoration: none;
    color: $header-text-color;
  }
  a {
    font-weight: 400;
    transition: color 0.25s ease-in 0s;

    &:hover {
      color: $brand-primary;
    }
  }
  b {
    font-weight: 800;
    color: $body-bg;
    text-shadow: 0px 2px 0px $brand-primary;
    transition: text-shadow 0.25s ease-in 0s;
    &:hover {
      text-shadow: 0px 1px 0px $brand-primary;
    }
  }

  #logo {
    background-color: $gray-dark;
    color: $body-bg;
    padding: 0px 8px;
  }
}

#main-nav {
  font-size: 20px;
  font-weight: 800;
  line-height: 220%;
  text-align: right;

  a { font-weight: 800; }
}

#main-content {
  padding-bottom: 50px;
}

#main-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $footer-height;
  background-color: #F5F5F5;
  border-top: 3px solid #eee;

  a {
    color: #999;
    &:hover {
      color: $brand-primary;
    }
  }

  .text-muted {
    margin: 20px 0px;
    font-size: 24px;
    text-align: center;
  }
}

#blog {
  // font-family: @mono-font-family;
  font-size: 18px;

  .blog-date {
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: #999;
    text-transform: uppercase;
  }
}

#post-header {
  margin-bottom: 20px;

  h1 {
    margin-bottom: 0;
  }
  p {
    margin: 7px;
    font-size: 18px;
    text-align: right;
  }
}

#post {
  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    font-weight: 800;
    margin-bottom: 10px;
    @extend .left-border;
  }
  p {
    margin: 0px 0px 20px;
  }
  img {
    @extend .img-responsive;
    @extend .img-thumbnail;
  }
}

#projects {
  h1 {
    font-weight: 800;
    margin-bottom: 10px;
  }
}

#interests {
  li {
    padding: 0;
  }
}

#four-oh-four {
  text-align: center;
}
