---
layout: default
title: About
---

<div class="container">
  <div class="content is-medium">
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-one-fifth">
          <img src="/assets/img/jbttn_big.jpg" />
        </div>
      </div>
    </section>

    <section class="section">
      <h3 class="title">Stuff I Like</h3>
      <div class="tags">
        {% for interest in site.data.interests %}
        <span class="tag is-medium"><a href="{{ interest.url }}">{{ interest.name }}</a></span>
        {% endfor %}
      </div>
    </section>

    <section class="section">
      <h3 class="title">Events I've Been To</h3>
      <ul>
        {% for event in site.data.events %}
        <li><a href="{{ event.url }}">{{ event.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
