<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Joshua Button">
    <meta name="description" content="Joshua Button's website">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link href="/assets/css/application.css" type="text/css" rel="stylesheet" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/poh6wat.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="main-content" class="container">
      <header id="main-header" class="row">
        <div class="col-xs-5">
          <h1><a id="logo" href="/">Joshua<b>Button</b></a></h1>
        </div>
        <div class="col-xs-7">
          <ul id="main-nav" class="list-inline">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Résumé</a></li>
          </ul>
        </div>
      </header>
      {{ content }}
    </div>

    <footer class="navbar navbar-default navbar-fixed-bottom" id="main-footer">
      <div class="container">
        <p class="text-muted">
          <a href="http://www.github.com/jbttn/"><i class="fa fa-github"></i></a>
          <a href="http://www.twitter.com/jbttn/"><i class="fa fa-twitter"></i></a>
          <a href="http://www.linkedin.com/in/joshuabutton"><i class="fa fa-linkedin"></i></a>
          <a href="http://stackoverflow.com/users/3946288/joshua-button"><i class="fa fa-stack-overflow"></i></a>
          <a href="http://www.piedpiper.com/"><i class="fa fa-pied-piper"></i></a>
        </p>
      </div>
    </footer>

    {% include google-analytics.html %}
  </body>
</html>
