<!DOCTYPE html>
<head>
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="Joshua Button">
  <meta name="author" content="Joshua Button">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <!--<link rel="stylesheet" href="/css/style.css" type="text/css">-->
  <link rel="stylesheet/less" type="text/css" href="/css/style.less">
  <script src="/js/less.js" type="text/javascript"></script>
</head>
<body>
  <div id="triangles"></div>
  <div id="container">
    <header id="main-header">
      <span class="title"><a href="/"><img id="logo" src="/img/triangles.png" /> Joshua Button</a></span>
      <span class="tagline">Developer, Gamer, Promoter of Friendship</span>
      <ul id="main-nav" class="h-list">
        <li><a href="/resume/">Resume</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/projects/">Projects</a></li>
      </ul>
    </header>
    <div id="main-body">
      <section id="sidebar">
        <ul>
          <li><a href="http://www.github.com/jbttn"><img src="/img/fc-webicon-github.png" />Github</a></li>
          <li><a href="http://www.twitter.com/jbttn"><img src="/img/fc-webicon-twitter.png" />Twitter</a></li>
          <li><a href="http://www.linkedin.com/in/joshuabutton"><img src="/img/fc-webicon-linkedin.png" />LinkedIn</a></li>
          <li><a href="http://open.spotify.com/user/deathnoodle"><img src="/img/fc-webicon-spotify.png" />Spotify</a></li>
          <li><a href="http://www.last.fm/user/deathnoodle"><img src="/img/fc-webicon-lastfm.png" />Last.fm</a></li>
        </ul>
      </section>
      <section id="content">
        {{content}}
      </section>
    </div>
    <footer id="main-footer">
      Proudly hosted on <a href="http://www.github.com">Github</a>.  Design by <a href="http://www.joshuabutton.com">myself</a>.
    </footer>
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script src="/js/libs/plax.js" type="text/javascript"></script>
  <script src="/js/script.js" type="text/javascript"></script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1476342-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>