<!DOCTYPE html>
<head>
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="Joshua Button's Resume">
  <meta name="author" content="Joshua Button">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="/css/resume.css" type="text/css" />
  <link rel="stylesheet" href="/css/resume-print.css" type="text/css" media="print" />
</head>
<body>
  <div id="container">
    {{content}}
  </div>
  
  <script type="text/javascript" src="http://use.typekit.com/vmn4ngh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>